doctype html
html(lang="en")
    head
        title Details
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
        link(rel="shortcut icon", href="images/ai.png")
        script(src="javascripts/jquery1.8.0.min.js", defer="defer")
        script(src="javascripts/details.js", defer="defer")
    body
        div#left-part
        div#right-part
        div.middle-part
            input(type="button", name="SIGNOUT", value="sign out")
            p.tip=Message || ""
            ul#user-info
                if Username
                    li='Username: ' + Username
                if StudentID
                    li='StudentId: ' + StudentID
                if Phone
                    li='Phone: ' + Phone
                if Email
                    li='E-mail: ' + Email

        img(src="images/ai.png", alt="ai", class="ai")

